.landing-page-main-wrapper{
    display: flex;
}


.Left-side-nav-bar{
    height: 100vh;
    width: 25%;
    background: #28303F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-login-wrapper{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links{
    font-size: 25px;
    color: lightgrey

}

.logo-wrapper{
    height: 10%;
    border-bottom: lightgray solid thin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    font-size: 30px;
    font-weight: bold;

}
.void-white {
    color: white;
}

.void-red{
    color: red;
}

/* content section */

.landing-page-content{
    height: 100vh;
    width: 100%;
}

.landing-ad{
    width: 100%;
    height: 70%;
    background-image: url(RB6-ad.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}