.login-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./RB6-test.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.sign-up{
    font-size: 35px;
    height: 50px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-bottom: 1px lightgray solid;
    display: flex;
    justify-content: space-evenly;
}

.login-box{
    border: solid white thin;
    width: 500px;
    height: 700px;
    display: flex;
    align-items: center;
    background-color: rgba(10, 0, 0, 0.4);
    flex-direction: column;
    opacity: 1;
    box-shadow: 2px 2px 7px 7px lightslategrey

}

.username{
    color: white;
    margin-top: 20px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.username-input{
    width: 50%;
    height: 30px;
    color: #fff;
    background-color: #1c222b;
    background-image: none;
    border: 2px solid lightgray;
    border-radius: 4px;
    margin-left: 10px;
}

.input-id{
    width: 20%;
    height: 20px;
    color: white;

}

.login-options{
    cursor: pointer;
}

.selected-option{
    border-bottom: thick solid orangered;
    cursor: pointer;
}


.confirm-button{
    margin-top: 15%;
    margin-left: 5%;
    border-style: none;
    background-color: lightslategray;
    color: white;
    height: 5%;
    width: 30%;
}